<script lang="ts">
  import PokemonList from "./components/PokemonList.svelte";
</script>

<div class="mt-32">
  <div class="px-4 sm:px-8 max-w-5xl m-auto">
    <h1 class="text-center font-semibold text-sm">Pokemon List</h1>
    <p class="mt-2 text-center text-xs mb-4 text-gray-500">
      Click to add to favorite
    </p>
    <div class="w-full">
      <ul class="mx-auto grid max-w-full w-full grid-cols-2 gap-x-5 px-8">
        <li class="">
          <input
            class="peer sr-only"
            type="radio"
            value="yes"
            name="answer"
            id="yes"
            checked
          />
          <label
            class="flex justify-center cursor-pointer rounded-full border border-gray-300 bg-white py-2 px-4 hover:bg-gray-50 focus:outline-none peer-checked:border-transparent peer-checked:ring-2 peer-checked:ring-indigo-500 transition-all duration-500 ease-in-out"
            for="yes">All Pokemon</label
          >

          <div
            class="absolute bg-white shadow-lg left-0 p-6 border mt-2 border-indigo-300 rounded-lg w-[97vw] mx-auto transition-all duration-500 ease-in-out translate-x-40 opacity-0 invisible peer-checked:opacity-100 peer-checked:visible peer-checked:translate-x-1"
          >
            <PokemonList type="all" />
          </div>
        </li>

        <li class="">
          <input
            class="peer sr-only"
            type="radio"
            value="no"
            name="answer"
            id="no"
          />
          <label
            class="flex justify-center cursor-pointer rounded-full border border-gray-300 bg-white py-2 px-4 hover:bg-gray-50 focus:outline-none peer-checked:border-transparent peer-checked:ring-2 peer-checked:ring-indigo-500 transition-all duration-500 ease-in-out"
            for="no">Favorites</label
          >

          <div
            class="absolute bg-white shadow-lg left-0 p-6 border mt-2 border-indigo-300 rounded-lg w-[97vw] mx-auto transition-all duration-500 ease-in-out translate-x-40 opacity-0 invisible peer-checked:opacity-100 peer-checked:visible peer-checked:translate-x-1"
          >
            <PokemonList type="favorites" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
