<script lang="ts">
    import type { Pokemon } from "../api/pokemon";
    import { favoritePokemons } from "../stores/FavoritePokemons";

    let favPoks: Pokemon[];
    favoritePokemons.subscribe((favPokemons) => {
        favPoks = favPokemons;
    });

    export let pokemon: Pokemon;

    const baseClass =
        "cursor-pointer px-4 py-2 hover:text-sky-900 border-b last:border-none border-gray-200 transition-all duration-300 ease-in-out";
    $: isFav = !!favPoks.find((favPok) => favPok.url === pokemon.url);
    $: bgClass = isFav
        ? " bg-red-300 hover:bg-red-100"
        : " bg-white hover:bg-sky-100";

    $: finalClass = baseClass + bgClass;

    function toggleFavPokemon() {
        if (isFav) {
            favoritePokemons.update((prev) => {
                return prev.filter((item) => item.url !== pokemon.url);
            });
        } else {
            favoritePokemons.update((prev) => {
                prev.push(pokemon);
                return prev;
            });
        }
    }
</script>

<li class={finalClass} on:click={toggleFavPokemon}>
    {pokemon.name}
</li>
