<script lang="ts">
    import { onMount } from "svelte";
    import { getPokemonList } from "../api/pokemon";
    import type { Pokemon } from "../api/pokemon";
    import PokemonItem from "./PokemonItem.svelte";
    import { favoritePokemons } from "../stores/FavoritePokemons";
    export let type: "all" | "favorites";

    let favPoks: Pokemon[];
    favoritePokemons.subscribe((favPokemons) => {
        favPoks = favPokemons;
    });

    let pokemons: Pokemon[] = [];
    onMount(async () => {
        pokemons = await getPokemonList();
    });
</script>

<ul class="border border-gray-200 rounded overflow-hidden shadow-md">
    {#if type === "all"}
        {#each pokemons as pokemon (pokemon.url)}
            <PokemonItem {pokemon} />
        {/each}
    {:else if type === "favorites"}
        {#each favPoks as pokemon (pokemon.url)}
            <PokemonItem {pokemon} />
        {/each}
    {/if}
</ul>
